    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-xs-8 col-xs-offset-2" style="margin-top: 30px">

                <div class="thumbnail">
                    <img class="img-responsive" src="<%= asset_path "orchestra.jpg" %>" alt="">
                    <div class="caption-full">
                        <h5><%= @concert.datetime.strftime('%m/%d') %></h5>
                        <h4><a href="#"><%= @concert.title %></a>
                        <hr>
                        </h4>
                        <p>開演　<%= @concert.datetime.strftime('%H:%M') %></p>
                        <p>場所：<%= @concert.place.place_name %><a target="_blank" href="http://www.nhk-sc.or.jp/nhk_hall/">http://www.nhk-sc.or.jp/nhk_hall/</a>.</p>
                        出演
                        <ul style="list-style:none;">
                            <li>指揮：<%= @concert.conductor.cond_name %></li>
                            <% @concert.artists.each do |artist|%>
                            <li><%= artist.artist_name %></li>
                            <% end %>
                        </ul>
                        <p><%= @concert.content %></p>
                        <p>料金：<%= @concert.price %></p>
                        <p>チケットの問い合わせ：<%= @concert.contact_name %><%= @concert.contact_number %></p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">コメントを書く</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            中村芳弘
                            <span class="pull-right">10 日前</span>
                            <p>今月で一番期待のコンサート！</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            中村芳弘
                            <span class="pull-right">10 日前</span>
                            <p>今月で一番期待のコンサート！</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            中村芳弘
                            <span class="pull-right">10 日前</span>
                            <p>今月で一番期待のコンサート！</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            中村芳弘
                            <span class="pull-right">10 日前</span>
                            <p>今月で一番期待のコンサート！</p>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
